@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Admin";
    // deny access to any user not an Admin
    if (!User.IsInRole("Admin")) {
        Response.Redirect("~/404");
    }

    // open the database
    var db = Database.Open("StarterSite");
    //var selectQuery="SELECT * FROM UserProfile ORDER BY MemberSince DESC";
    
    // Session Variables - Not sure if we're going to use these yet.  Maybey use something
    // like this for the "Most Followed"
    Session["Test"]="Testing Session Variables";
    var myInfo = new List<string>{WebSecurity.CurrentUserName,DateTime.Now.ToLongDateString()};
    Session["Info"]=myInfo;
    AppState["MyApplication"]="My Application Variable";
    
    // Query String that mat matches the UserId's between tables
    var roleQueryString = "SELECT DISTINCT * " +
                          "FROM UserProfile, webpages_UsersInRoles, webpages_Roles " +
                          "WHERE UserProfile.UserId = webpages_UsersInRoles.UserId " + 
                          //"AND webpages_UsersInRoles.RoleId = webpages_Roles.RoleId " +
                          "AND webpages_UsersInRoles.RoleId = webpages_Roles.RoleId " +
                          "ORDER BY UserProfile.UserId ASC";
                    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Admin Page</h1>

        <h2>Charts</h2>
        <figure>
        <img src="ChartDataQuery.cshtml" width="500" height="auto" alt="Data Query">        
        </figure>
        
        <h2>User Administration</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Member Since</th>
                    <th>Role</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var row in db.Query(roleQueryString)){
                <!-- TODO: What are these here for?  Are we going to use these cookies? 
                Response.Cookies["UserInfo"].Value="User Information";
                Response.Cookies["UserInfo"]["Email"]=row.Email;
                Response.Cookies["UserInfo"]["Time"]=DateTime.Now.ToLongDateString();
                -->
                <tr>
                    <!-- TODO: Edit user currently Errors -->
                    <td><a href="@Href("~/UpdateUser",row.UserID)">Edit</a></td>
                    <!-- TODO: Delete user Works, but isn't in the format required by the assignment -->
                    <td><a href="@Href("~/DeleteUser",row.UserId)">Delete</a></td>
                    <td>@row.Username</td>
                    <td>@row.Email</td>
                    <td>@row.MemberSince</td>
                    <td>@row.RoleName</td>
                    <td><img src="~/Images/@row.Picture" alt="pic" width="100px"> </td>
                </tr>
            }
            </tbody>
        </table>
    </body>
    </body>
</html>
