@{
    //WebSecurity.RequireAuthenticatedUser();

    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl=" + Request.Url.LocalPath);
    }

    Layout = "~/_SiteLayout.cshtml";
    if ((!User.IsInRole("Member")) || (!User.IsInRole("Admin"))) {
        Response.Redirect("~/404");
    }
   
    Page.Title = WebSecurity.CurrentUserName + " Membership Page";
    
    var db = Database.Open("StarterSite");
    var selectQueryString="SELECT * FROM ForumPosts ORDER BY PostDate DESC";


    //Variables for Forum Posts
    var userId = WebSecurity.CurrentUserId;
    var newPost = Request["messageTextArea"];
    //var row = db.QuerySingle(selectQueryString,PostId);
     
    //Pull Picture from database  TODO: picture link not working
    var username = @WebSecurity.CurrentUserName;
    var profileImage = db.QuerySingle("SELECT Picture FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", username);

    //Member Since
    var memberSince = db.QuerySingle("SELECT MemberSince FROM UserProfile Where LOWER(Email) = Lower(@0)", username);


    //Posts
    var post=Request["post"];

    var insertQuery="INSERT INTO UserProfile (Posts)" + "VALUES (@0)";
    db.Execute(insertQuery, post);               

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

        <h1>Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!</h1>
        <p>Member Since: @memberSince</p>
        <br><br>

        <img src="~/Images/@profileImage" alt="profImg" width="300px"> 
        <br><br>
        <p>Current UserId = @userId</p>   <!-- debug test -->
        <p>Current UserName = @username</p>

        <p>What are you doing?</p>
        <form method="post" action="" >
            <textarea class="messageTextArea" name="messageTextArea">@Request["post"]</textarea>
            <input class="postMessage" type="submit" value="Post Message" />
        </form>
        
        <!-- Message Posts below -->
        <!-- I used a table for now, just to get the data displaying.  
             TODO: reformat the messages. -->
        <table border="1">
        <tbody>
            @foreach(var row in db.Query(selectQueryString)) {
                <tr>
                    <td>Post picture</td>
                    <td>@row.PostFrom</td>  <!-- TODO: get the username from the UserProfile table... -->
                    <td>@row.PostMessage</td>
                    <td>@row.PostDate</td>
                </tr>
            }
        </tbody>
        </table>

    </body>
</html>
